* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App > p {
  color: white;
  margin-top: 135px;
  font-weight: 300;
  font-size: 0.95rem;
  text-align: center;
  text-shadow: 2px 5px 8px #080808;
  font-family: "Pokemon Solid", sans-serif;
}

/* .App > p:first-of-type {
  margin: 92px auto;
  font-size: 0.9rem;
  padding: 1px 10px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 5px;
  color: darkseagreen;
  font-family: monospace;
  background-color: #20232a;
  text-shadow: 0px 0px 0px #080808;
  box-shadow: 0px 1px 2px 3px #45535afc;
  font-family: "Pokemon Solid", sans-serif;
} */

body {
  background-color: #353744;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
