* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App > p {
  line-height: 1;
  color: white;
  padding: 0 10px;
  margin-top: 135px;
  font-weight: 300;
  font-size: 0.95rem;
  text-align: center;
  text-shadow: 2px 5px 8px #080808;
  font-family: "Pokemon Solid", sans-serif;
}

.gameOver > h1 {
  color: white;
  letter-spacing: normal;
  font-size: min(16vw, 3.5rem);
  text-shadow: none;
  font-family: initial;
}

.gameOver > p {
  margin-bottom: 10px;
  color: white;
  font-weight: 900;
}

.gameOver > button {
  padding: 5px;
  background-color: #3e4451;
  color: white;
  font-weight: 900;
  border: 1px solid;
}

.gameOver {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
}

.gameOver {
  transition: all .2s ease-in-out;
}

body {
  background-color: #353744;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #45535afc;
  border-radius: 0px;
  border: 1px solid #333333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
