.card-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 20px auto;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 140px;
  height: 170px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.name-holder {
  padding: 5px;
  color: #f4ffc8;
  margin-top: auto;
  text-align: center;
  border-radius: 10px;
  font-family: monospace;
  border: 3px solid #282c34;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #48525ed6;
  border-top: 3px solid #353744;
}

.image-holder {
  flex: 1 1;
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
  align-items: center;
  border: 3px solid #282c34;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #45535afc;
}

.image-holder > img {
  width: 120px;
  height: 120px;
}

@keyframes append-card {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes remove-card {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.append-card {
  animation: append-card 0.2s linear;
}

.remove-card {
  animation: remove-card 0.3s linear;
}
