@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

header {
  gap: 10px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  background-color: #20232a;
  width: -webkit-fill-available;
  justify-content: space-between;
  border-top: 1px solid #3e4451;
  border-bottom: 5px solid #45535afc
}

.header-container {
  position: fixed;
  width: -webkit-fill-available;
}

.header-container > p {
  margin: 0px auto;
  font-size: 0.9rem;
  padding: 1px 10px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 5px;
  color: darkseagreen;
  font-family: monospace;
  background-color: #20232a;
  text-shadow: 0px 0px 0px #080808;
  box-shadow: 0px 1px 2px 3px #45535afc;
  font-family: "Pokemon Solid", sans-serif;
}

header > p {
  color: #b3bcff;
  margin-left: 5px;
  font-size: 1rem;
  font-family: 'Pokemon Solid', sans-serif;
}

h1 {
  color: #2a0088c4;
  letter-spacing: 4px;
  font-size: min(2rem, 13.5vw);
  text-shadow: 3px -2px 2px yellowgreen;
  font-family: 'Pokemon Solid', sans-serif;
}

.current-score,
.highest-score {
  font-weight: 900;
  text-decoration: underline;
  font-size: min(1.2rem, 8vw);
  text-decoration-thickness: from-font;
}

.current-score {
  color: #bcff98;
  font-size: 1rem;
  letter-spacing: 1px;
}

.highest-score {
  color: #f89898;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
  }
  .App > p {
    margin-top: 170px;
  }
}
