header {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  background-color: #282c34;
  justify-content: space-between;
  border-top: 1px solid #3e4451;
  border-bottom: 5px solid #45535afc
}

header > p {
  color: #b3bcff;
  margin-left: 5px;
  font-size: 1.5rem;
}

h1 {
  color: #b3bcff;
  font-size: min(2rem, 13.5vw);
}

.current-score,
.highest-score {
  font-weight: 900;
  text-decoration: underline;
  font-size: min(1.2rem, 8vw);
  text-decoration-thickness: from-font;
}

.current-score {
  color: #bcff98;
}

.highest-score {
  color: #f89898;
}

@media screen and (max-width: 450px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
}
